standalone-app/__pycache__/
standalone-app/obsoletos/
standalone-app/data/
standalone-app/tentativas/
standalone-app/.vscode/
standalone-app/output/*
!standalone-app/output/.keepme
standalone-app/input/*
!standalone-app/input/.keepme


notebooks/.ipynb_checkpoints/