**/__pycache__/
**/.vscode/
**/.qt_for_python/

standalone-app/obsoletos/

standalone-app/data/output/*
!standalone-app/data/output/.keepme

standalone-app/data/input/*
!standalone-app/data/input/.keepme

notebooks/.ipynb_checkpoints/